* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

html{
    scroll-behavior: smooth;
}
  
  body{
    background-color: white;
    font-family: 'Roboto',sans-serif;
  }

  .toggle_menu {
    display: none;
}

  /* Nav */

  .wrapper{
    /* box-shadow: 0 1px 10px rgba(0, 0.2, 0.77, .5); */
    box-shadow: 0 1px 0 rgba(0, 0, 0, .2); ;
  }

  .header{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 64px;
    transition: .3s;
    margin: 0 auto;
  }

  .menu{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    z-index: 1;
    transition: .5s;
  }

  .logo a{
    display: block;
  }

  .logo a img{
    display: block;
  }

  .navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .menu li{
    list-style-type: none;
  }

  .menu li a{
    color: black;
    text-decoration: none;
    display: block;
    padding: 40px 25px;
    font-size: 16px;
    line-height: 1;
    transition: .3s;
    text-align: center;
  }

  .menu li a:hover{
    background-color: rgba(159,116,56,1);
    padding: 35px 25px 45px 25px;
    color: black;
  }

  .hamburger{
    position: absolute;
    width: 30px;
    height: 3px;
    background-color: rgba(159,116,56,1);
    border-radius: 10px;
    cursor: pointer;
    z-index: 2;
    transition: .3s;
  }

  .hamburger:before,
  .hamburger:after{
    content: "";
    position: absolute;
    height: 3px;
    left: 0;
    background-color: rgba(159,116,56,1);
    border-radius: 10px;
    transition: .3s;
  }

  .hamburger:before{
    top: -10px;
    width: 20px;
  }

  .hamburger:after
  {
    top: 10px;
    width: 20px;
  }

  .toggle_menu{
    position: absolute;
    width: 30px;
    height: 100%;
    z-index: 3;
    cursor: pointer;
    opacity: 0;
}

.hamburger,
.toggle_menu{
    display: none;
}

.navigation input:checked ~ .hamburger
{
    background: transparent;
}

.navigation input:checked ~ .hamburger:before
{
    top: 0;
    transform: rotate(-45deg);
    width: 30px;
}

.navigation input:checked ~ .hamburger:after
{
    top: 0;
    transform: rotate(45deg);
    width: 30px;
}

.button{
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
}

.travel_li{
    margin-right: 20px;
}

.nav_button
{
    background: rgba(159, 116, 56, 1);
    outline: none;
    border: none;
    Padding: 10px 20px;
}

.nav_button a{
    display: block;
    color: white;
    text-decoration: none;
    width: 130px;
    height: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto',sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.navigation input:checked ~.menu{
    right: 0;
    box-shadow: -20px 0 40px rgb(169, 167, 164);
}


@media screen and (max-width:767px) {

    .header{
        padding: 11px 8px;
      }

    .hamburger,
    .toggle_menu{
    display: block;
    right: 8px;
    align-items: center;
}


    .menu{
        justify-content: start;
        flex-direction: column;
        align-items: center;
        position: fixed;
        top: 0;
        right: -300px;
        width: 35%;
        min-width: 250px;
        height: 100%;
        padding-top: 65px;
        background: white;
    }

    .menu li {
        width: 100%;
    }

    .menu li a{
        padding: 30px;
        font-size: 20px;
    }

    .travel_li{
        margin-right: 0;
    }
    
    .button{
        margin: 90%;
     }
}


/* hero */

.container{
    width: 95%;
    margin: 24px auto;
    display: flex;
    flex-direction: column;
}

.details{
    display: flex;
    flex-direction: column;
}

.empower{
    width: 100%;
    text-align: center;
    font-size: 16px;
}

.description{
    width: 90%;
    text-align: center;
    margin: 24px auto;
    font-size: 14px;
}

.hero_button{
    display: flex;
    justify-content: space-evenly;
    margin-top: 24px;
    width: 90%;
    margin: 24px auto 0;
    gap: 8px;
}

.contact_button, .project_button{
    width: 164px;
    height: 48px;
    text-align: center;
    outline: none;
    border: none;
    cursor: pointer;
}

.contact_button a
{
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 700;
    font-family: 'Roboto',sans-serif;
}
.project_button a{
    text-decoration: none;
    color: rgba(159, 116, 56, 1);
    font-size: 16px;
    font-weight: 700;
    font-family: 'Roboto',sans-serif;
}

.contact_button {
    background-color: rgba(159, 116, 56, 1);
    color: white;
}

.project_button
{
    background-color: transparent;
    border:1px solid rgba(159, 116, 56, 1);
}

.hbn{
    width: 100%;
    margin: 24px auto 0;
    max-height: 323px;
    max-width: 414px;
}

.hbn>.image1{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.hbn>.image2{
    width: 100%;
    height: 100%;
    display: none;
}

@media screen and (min-width:767px) {
    .container{
        flex-wrap: nowrap;
        flex-direction: row;
    }

    .details
    {
        width: 40%;
        margin: 33px 44px;
    }

    .empower,.description{
        text-align: left;
    }

    .description
    {
        margin: 24px 0;
    }

    .hbn{
        margin-top: -22px;
        width: 100%;
        height: 100%;
        max-height: 500px;
        max-width: 300px;
    }


    .hbn>.image1{
        display: none;
    }

    .hbn>.image2{
        display: block;
        object-fit: contain;
    }

    .hero_button
    {
        margin: 4px 0;
    }
}

/* services */

/* h1 title of services */
.service{
    text-align: center;
    font-size: 24px;
}


.service_container
{
    width: 100%;
    margin-bottom: 40px;
}

.details_container{
    display: flex;
    flex-wrap: wrap;
    margin: 48px auto 140px;
    width: 100%;
}

.wrapper_services{
    /* width: 80%; */
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.title_services{
    text-align: center;
}

.title_services h1{
    font-size: 24px;
    margin: 16px 0 24px;
}

.title_services p{
    font-size: 16px;
}

.two,
.three{
    margin-top: 48px;
}

/* div container of button */
.services_button{
    margin: 0px auto 104px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* actual button */
.service_button{
    outline: none;
    border: 1px solid rgba(159, 116, 56, 1);
    width: 138px;
    height: 48px;
    cursor: pointer;
}

.service_button a{
    
    color: rgba(159, 116, 56, 1);
    font-size: 16px;
    font-weight: 700;
    font-family: 'Roboto',sans-serif;
    text-decoration: none;
}


@media screen and (min-width:768px) {
    .details_container
    {
        width: 90%;
        flex-wrap: nowrap;
        margin: 104px auto 90px;
    }

    .two,
    .three{
        margin: 0;
    }

    .wrapper_services{
        margin: 0 32px;
    }

    .services_button{
        margin-bottom: 104px;
    }
}


/* work */

.work_title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
}

.work_title p{
    margin-bottom: 16px;
}

.work{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.work_title h1
{
    font-size: 48px;
}

.images{
    margin-bottom: 64px;
}

.images2{
    margin-bottom: 64px;
}

.images_description h1
{
    margin: 24px 0 8px;
    font-size: 24px;
}

.im{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    object-fit: contain;
}

.im>img{
    width: 95%;
    height: 356px;
    object-fit: cover;
}

.images_description
{
    width: 95%;
    margin: 16px auto;
    line-height: 24px;
}


.work_container2{
    width: 100%;
    display: none;
}


.view{
    margin: 0px auto 40px;
}

.view div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.view_btn{
    outline: none;
    border: 1px solid rgba(0, 0, 0, .1);
    padding: 16px;
    width: 140px;
    height: 48px;
    cursor: pointer;
}

.view_btn2{
    outline: none;
    border: 1px solid rgba(0, 0, 0, .1);
    padding: 16px;
    width: 140px;
    height: 48px;
    cursor: pointer;
    display: none;
}

.work_container3
{
    display: flex;
    flex-wrap: wrap;
}


@media screen and (min-width:768px) {
    .work
    {
        flex-direction: row;
        gap: 40px;
    }

    .images_description
    {
        width: 90%;
        margin: 0 auto;
    }

    .work_container
    {
        margin-top: -110px;
    }

    .suman>img{
        width: 95%;
        object-fit: cover;
        height: 280px;
        max-width: 550px;
    }

    .jogmai_hep>img{
        width: 95%;
        object-fit: cover;
        height: 280px;
        max-width: 550px;
    }

    .work_container2
    {
        display: block;
        max-width: 550px;
    }

    .nmb>img{
        width: 95%;
        height: 430px;
        object-fit: cover;
        
        max-width: 550px;
    }

    .jogmai_cascade>img{
        width: 95%;
        height: 300px;
        object-fit: cover;
        max-width: 550px;
    }


    .work_container3
    {
        display: flex;
        flex-wrap: wrap;
    }

    .images3{
        width: 50%;
    }


    .view_btn {
        display: none; /* Hide "View More" button at smaller screens */
    }
    
    .view_btn2 {
        display: block; /* Show "View Less" button at smaller screens */
    }
}

@media screen and (min-width: 1000px) {
    .images_description
    {
        width: 85%;
        margin: 0 auto;
    }
}

/* Travel */


.arrow_container h1{
    text-align: center;
    margin: 40px 0 24px;
    font-weight: 700;
}

.arrow_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border: 1px solid rgba(61, 61, 183, 0.273);
    margin-bottom: 40px;
}

.flag > img {
    height: 52px;
    width: 52px;
}

.image_container {
    display: flex;
    flex-wrap: wrap;
}

.flag {
    margin: 16px 10px;
    opacity: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.flag p{
    margin: 16px 0px;
    font-size: 12px;
    font-weight: 600;
}


.hide {
    display: none;
}

.arrow {
    position: relative;
    display: flex;
    gap: 10px;
}

.arrow div input {
    position: absolute;
    cursor: pointer;
    width: 30px;
    z-index: 99;
    opacity: 0;
    outline: none;
    border: none;
}

.arrow div img {
    cursor: pointer;
}

.arrow_right input:checked ~ .image_container > .flag.initial {
    display: none;
}

.arrow_right input:checked ~ .image_container > .flag.hide {
    display: flex;
}


.arrow_left input:checked ~ .image_container > .flag.initial {
    display: none;
}


.arrow_left input:checked ~ .image_container > .flag.hide {
    display: flex;
}

@media screen and (min-width: 768px) {

    .hide {
        display: flex;
    }

    .image_container{
        gap: 20px;
    }

    .arrow
    {
        display: none;
    }
}

@media screen and (min-width: 1000px)
{
    .image_container{
        gap: 80px;
    }

    .arrow
    {
        /* display: none; */
    }
}

/* Quote */

.quote{
    margin-bottom: 40px;
}

.quote_details{
    width: 95%;
    font-size: 16px;
    text-align: center;
}

.person{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
}
.person img{
    margin: 32px 0 16px;
}



/* Footer */

.footer{
    background-color: rgba(245, 225, 232, 0.9);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.footer>div{
    width: 90%;
    margin: 0 auto;
}

.footer_des{
    width: 80%;
    font-size: 16px;
    margin: 40px auto 16px;
    text-align: center;
    font-weight: 700;
}

.footer_button{
    width: 100%;
}

.footer_button>button{
    background-color: rgba(159, 116, 56, 1);
    outline: none;
    border: none;
    width: 100%;
    height: 48px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    margin-bottom: 40px;
}

.footer_button> button a{
    text-decoration: none; 
     color: white;
     font-size: 16px;
     font-weight: 700;
     font-family: 'Roboto',sans-serif;
}

@media screen and (min-width:768px) {
    .footer{
        flex-direction: row;
    }

    .footer_button>button
    {
        width: 285px;
        margin: 80px 15%;
        float: right;
    }
}